cocref_gradle/src/main/resources/wsdl/referencia.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!-- @editor-info:link autogen="false" source="" -->
<wsdl:definitions xmlns:conv="http://www.openuri.org/2002/04/soap/conversation/" xmlns:cw="http://www.openuri.org/2002/04/wsdl/conversation/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:jms="http://www.openuri.org/2002/04/wsdl/jms/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s0="http://www.openuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.openuri.org/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.openuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:coc="http://aoc.cat/dcoc/cocref">
      <s:import namespace="http://aoc.cat/dcoc/cocref"/>
      <s:element name="consulta">
        <s:complexType>
          <s:sequence>
            <s:element ref="coc:peticio"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="consultaResponse">
        <s:complexType>
          <s:sequence>
            <s:element ref="coc:respostaConsulta"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="descarrega">
        <s:complexType>
          <s:sequence>
            <s:element ref="coc:peticio"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="descarregaResponse">
        <s:complexType>
          <s:sequence>
            <s:element ref="coc:respostaDescarrega"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dadesTecniques">
        <s:complexType>
          <s:sequence>
            <s:element ref="coc:peticio"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dadesTecniquesResponse">
        <s:complexType>
          <s:sequence>
            <s:element ref="coc:respostaDadesTecniques"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by Sergio Figueras (Consorci Administració Oberta de Catalunya) -->
    <xs:schema targetNamespace="http://aoc.cat/dcoc/cocref" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://aoc.cat/dcoc/cocref">
      <xs:complexType name="projecteConsulta">
        <xs:annotation>
          <xs:documentation>Projecte</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="codiTipusProjecte" type="xs:string" minOccurs="0"/>
          <xs:element name="tipusProjecte" type="xs:string" minOccurs="0"/>
          <xs:element name="estatVisat" type="xs:string"/>
          <xs:element name="estatCertificat" type="EstatCertificatType" minOccurs="0"/>
          <xs:element name="tamany" type="xs:int" minOccurs="0"/>
          <xs:element name="dadesEspecifiques" type="xs:anyType" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="EstatCertificatType">
        <xs:restriction base="xs:string">
        </xs:restriction>
      </xs:simpleType>
      <xs:element name="error">
        <xs:annotation>
          <xs:documentation>Error</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="codi" type="xs:string"/>
            <xs:element name="descripcio" type="xs:string" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="actuacions">
        <xs:annotation>
          <xs:documentation>Resposta</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="actuacio" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="peticio">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="idProjecte" type="xs:string"/>
            <xs:element name="idColegiat" type="xs:string" minOccurs="0"/>
            <xs:element name="usuari" type="xs:string" minOccurs="0"/>
            <xs:element name="contrasenya" type="xs:string" minOccurs="0"/>
            <xs:element name="dadesRequeridor" type="Requeridor" minOccurs="0"/>
            <xs:element name="dadesEspecifiques" type="xs:anyType" minOccurs="0"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="Organisme">
        <xs:sequence>
          <xs:element name="ine10" type="xs:string"/>
          <xs:element name="descripcio" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Requeridor">
        <xs:sequence>
          <xs:element name="nom" type="xs:string" minOccurs="0"/>
          <xs:element name="nif" type="xs:string" minOccurs="0"/>
          <xs:element name="finalitat" type="xs:string"/>
          <xs:element name="expedient" type="xs:string"/>
          <xs:element name="organisme" type="Organisme"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arxiu">
        <xs:annotation>
          <xs:documentation>Document</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="idArxiu" type="xs:string" minOccurs="0"/>
          <xs:element name="descripcio" type="xs:string" minOccurs="0"/>
          <xs:element name="tamany" type="xs:string" minOccurs="0"/>
          <xs:element name="contentType" type="xs:string" minOccurs="0"/>
          <xs:choice>
            <xs:element name="url" type="xs:string" minOccurs="0"/>
            <xs:element name="contingut" type="xs:string" minOccurs="0"/>
          </xs:choice>
          <xs:element name="signaturaColegi" type="arxiu" minOccurs="0"/>
          <xs:element name="signaturaProfessional" type="arxiu" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="arxius">
        <xs:sequence>
          <xs:element name="arxiu" type="arxiu" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="respostaConsulta">
        <xs:annotation>
          <xs:documentation>Resposta de la consulta</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="peticio"/>
            <xs:element name="projecte" type="projecteConsulta" minOccurs="0"/>
            <xs:element ref="error"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="respostaDescarrega">
        <xs:annotation>
          <xs:documentation>Resposta de descarerga del col·legi</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="peticio"/>
            <xs:element name="projecte" type="projecteDescarrega" minOccurs="0"/>
            <xs:element ref="error"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="peticioAvisDescarrega">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="idColegi" type="xs:string"/>
            <xs:element name="ine10" type="xs:string"/>
            <xs:element name="projecte" type="projecteDescarrega" minOccurs="0"/>
            <xs:element ref="error"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="respostaDadesTecniques">
        <xs:annotation>
          <xs:documentation>Resposta amb les dades tècniqeus del projecte</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="peticio"/>
            <xs:element name="dadesTecniques" type="xs:anyType" minOccurs="0"/>
            <xs:element ref="error"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="respostaAvisDescarrega">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="error"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="projecteDescarrega">
        <xs:annotation>
          <xs:documentation>Projecte</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="idProjecte" type="xs:string"/>
          <xs:element name="idColegiat" type="xs:string" minOccurs="0"/>
          <xs:element name="codiTipusProjecte" type="xs:string" minOccurs="0"/>
          <xs:element name="tipusProjecte" type="xs:string" minOccurs="0"/>
          <xs:element name="arxius" type="arxius" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    
  </wsdl:types>
  <wsdl:message name="consultaSoapIn">
    <wsdl:part name="parameters" element="s0:consulta"/>
  </wsdl:message>
  <wsdl:message name="consultaSoapOut">
    <wsdl:part name="parameters" element="s0:consultaResponse"/>
  </wsdl:message>
  <wsdl:message name="descarregaSoapIn">
    <wsdl:part name="parameters" element="s0:descarrega"/>
  </wsdl:message>
  <wsdl:message name="descarregaSoapOut">
    <wsdl:part name="parameters" element="s0:descarregaResponse"/>
  </wsdl:message>
  <wsdl:message name="dadesTecniquesSoapIn">
    <wsdl:part name="parameters" element="s0:dadesTecniques"/>
  </wsdl:message>
  <wsdl:message name="dadesTecniquesSoapOut">
    <wsdl:part name="parameters" element="s0:dadesTecniquesResponse"/>
  </wsdl:message>
  <wsdl:portType name="cocrefSoap">
    <wsdl:operation name="consulta">
      <wsdl:input message="s0:consultaSoapIn"/>
      <wsdl:output message="s0:consultaSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="descarrega">
      <wsdl:input message="s0:descarregaSoapIn"/>
      <wsdl:output message="s0:descarregaSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="dadesTecniques">
      <wsdl:input message="s0:dadesTecniquesSoapIn"/>
      <wsdl:output message="s0:dadesTecniquesSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="cocrefSoap" type="s0:cocrefSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="consulta">
      <soap:operation soapAction="http://www.openuri.org/consulta" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="descarrega">
      <soap:operation soapAction="http://www.openuri.org/descarrega" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dadesTecniques">
      <soap:operation soapAction="http://www.openuri.org/dadesTecniques" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="cocref">
    <wsdl:port name="cocrefSoap" binding="s0:cocrefSoap">
      <soap:address location="http://localhost:7001/prjDCOCNewRefDummyWeb/processes/dcoc/newRef/dummy/cocref.jws"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>